@import 'common.less';

.home {
  display: flex;
  flex-direction: column;
  .banner {
    width: 100vw;
    height: 200px;
    .swiper-container {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .news {
    flex: 1;
    padding: 8px;
    .switch-tab {
      width: 100%;
      height: 26px;
      border: 1px solid #ccc;
      line-height: 26px;
      display: flex;
      margin-bottom: 10px;
      .icon {
        flex: 1;
        text-align: center;
        line-height: 26px;
        font-size: 18px;
        background: @light-gray;
        &:first-child {
          border-right: 1px solid #ccc;
        }
        &:active, &.active {
          background: @gray;
          color: @dark;
        }
      }
    }
    ul {
      &.image-text {
        li {
          display: flex;
          height: 110px;
          border-bottom: 1px solid @light-gray;
          padding: 10px 0;
          img {
            width: 110px;
            height: 110px;
          }
          .description {
            flex: 1;
            text-align: left;
            padding-left: 10px;
            .title {
              font-size: 18px;
            }
            .detail {
              display: none;
            }
            .date {
              display: block;
              margin-top: 10px;
              font-size: 12px;
            }
          }
        }
      }
      &.list {
        li {
          position: relative;
          color: @white;
          height: 150px;
          margin-bottom: 10px;
          img {
            height: 100%;
            width: 100%;
          }
          .description {
            position: absolute;
            bottom: 0;
            background: rgba(0,0,0, .5);
            text-align: left;
            padding: 8px 4%;
            width: 92%;
            .title {
              margin-bottom: 4px;
            }
            .detail {
              font-size: 14px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            .date {
              display: none;
            }
          }
        }
      }
    }
    .load-more {
      display: block;
      height: 30px;
      width: 100%;
      background: @gray;
      color: @white;
      line-height: 30px;
      &:active {
        background: #999;
      }
    }
    .no-more {
      font-size: 14px;
      color: @gray;
    }
  }
}
