@import './common.less';

.header {
  height: 40px;
  background: @black;
  display: flex;
  .logo {
    height: 40px;
    text-align: left;
    padding-left: 10px;
    img {
      height: 100%;
    }
  }
}
