@import 'common.less';

.setting {
  flex: 1;
  background: @light-gray;
  height: 100%;
  .list {
    padding-top: 20px;
    li {
      height: 40px;
      background: @white;
      margin-bottom: 10px;
      text-align: left;
      line-height: 40px;
      a {
        display: block;
        padding: 0 10px;
        &:active {
          background: @white;
        }
      }
      .icon {
        float: right;
        font-size: 24px;
      }
      &:last-child {
        text-align: center;
        margin-top: 40px;
      }
    }
  }
}

.info {
  .form-group {
    padding-top: 20px;
    .form-field {
      height: 40px;
      background: @white;
      line-height: 40px;
      padding-left: 15px;
      text-align: left;
      border-bottom: 1px solid @gray;
      &:first-child {
        border-top: 1px solid @gray;
      }
      &:nth-last-child(2) {
        height: 60px;
      }
      input, textarea {
        float: right;
        width: 65vw;
        font-size: 16px;
      }
      input {
        height: 30px;
        padding: 4px 10px;
        text-align: right;
      }
      textarea {
        min-height: 50px;
        padding: 4px;
        resize: none;
      }
      &.save {
        text-align: center;
        margin-top: 20px;
        border: none;
      }
    }    
  }
} 
